


.media-bulk-asset {float:left; width: 100%; margin-bottom:20px;}

.media-bulk-asset .media-bulk-upload-image-header {float:left; margin-right:15px;}

.media-bulk-asset .file-form {float:left; max-width:65em; background: #fff; padding:10px 20px; border:1px solid #aaa;}